@font-face {
  font-family: "BluuNext-Bold";
  font-weight: bold;
  src: url("public/fonts/BluuNext-Bold.otf") format("opentype");
}

body {
  /* background-color: #b0e0e6; */
  background: linear-gradient(-45deg, #b0e0e6, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  font-family: "BluuNext-Bold", serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.xsmall-text {
  font-size: 20vw;
  color: rgb(255, 255, 255);
}

.small-text {
  display: none;
}

.mid-text {
  display: none;
}

.large-text {
  display: none;
}

@media (min-width: 320px) {
  body {
    /* background-color: #7b68ee; */
    background: linear-gradient(-45deg, #7b68ee, #9e43db, #e069e4);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  .xsmall-text {
    display: none;
  }

  .small-text {
    display: flex;
    font-size: 20vw;
    color: rg›››b(255, 255, 255);
  }

  .mid-text {
    display: none;
  }

  .large-text {
    display: none;
  }
}

@media (min-width: 768px) {
  body {
    /* background-color: #66cdaa; */
    background: linear-gradient(-45deg, #66cdaa, #33c76c, #cfeb35);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
  }
  .xsmall-text {
    display: none;
  }

  .small-text {
    display: none;
  }

  .mid-text {
    display: flex;
    font-size: 30vw;
    color: rgb(255, 255, 255);
  }

  .large-text {
    display: none;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: #f5deb3;
    background: linear-gradient(-45deg, #f5deb3, #ebd577, #f0d126);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
  }
  .xsmall-text {
    display: none;
  }
  .small-text {
    display: none;
  }

  .mid-text {
    display: none;
  }

  .large-text {
    display: flex;
    font-size: 40vh;
    color: rgb(255, 255, 255);
  }
}
