body {
  background-color: powderblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.xsmall-text {
  font-size: 20vw;
  color: hotpink;
}

.small-text {
  display: none;
}

.mid-text {
  display: none;
}

.large-text {
  display: none;
}

@media (min-width: 320px) {
  body {
    background-color: mediumslateblue;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  .xsmall-text {
    display: none;
  }

  .small-text {
    display: flex;
    font-size: 20vw;
    color: orange;
  }

  .mid-text {
    display: none;
  }

  .large-text {
    display: none;
  }
}

@media (min-width: 768px) {
  body {
    background-color: mediumaquamarine;
  }
  .xsmall-text {
    display: none;
  }

  .small-text {
    display: none;
  }

  .mid-text {
    display: flex;
    font-size: 30vw;
    color: cornsilk;
  }

  .large-text {
    display: none;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: wheat;
  }
  .xsmall-text {
    display: none;
  }
  .small-text {
    display: none;
  }

  .mid-text {
    display: none;
  }

  .large-text {
    display: flex;
    font-size: 40vh;
    color: crimson;
  }
}
